.dsui-navigation-text {
    font-size: 1.125em;
    font-family: "Roboto-Medium";
    color: #777;
    line-height: 3.3em;
    padding-left: 20px;
}

.dsui-case-list-library-secondary-navigation {
    height: 58px;
    background-color: #EFEFEF;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}

.dsui-signal {
    min-height: 220px !important;
}

.chart {
    background-color: #eee;
    height: 300px;
    width: 100%;
}

.wssv-mian-content {
    padding: 0 330px;
    .wssv-valid-list {
        text-align: right;
        width: 90%;
        float: right;
        padding: 0;
        line-height: 50px;
        margin-bottom: 20px;
        div {
            border-bottom: 4px solid #ccc;
            margin: 0px 7px 0 0;
            text-align: left;
            padding: 0;
        }
        div:first-child {
            border-bottom: 4px solid #016698;
        }
    }
    .wssv-hr-line {
        border-top: 1px solid #e7e7e7;
    }
    .wssv-bar {
        padding: 20px 0;
        div {
            float: left;
        }
        .wssv-bar-first {
            padding: 10px;
            background-color: #f4d03e;
            width: 10%;
            border-radius: 10px 0px 0px 10px;
            margin-right: 1px;
        }
        .wssv-bar-sec {
            padding: 10px;
            background-color: #f2a940;
            width: 30%;
        }
        .wssv-bar-third {
            padding: 10px;
            background-color: #f15a29;
            width: 44%;
        }
        .wssv-bar-fourth {
            padding: 10px;
            background-color: #d1d3d4;
            width: 15%;
            border-radius: 0px 10px 10px 0px;
        }
    }
    .wssv-row-box {
        border: 1px solid #e4e4e4;
        padding: 20px;
        margin-top: 15px;
        .wssv-signal-title {
            font-weight: bold;
            margin-bottom: 5px;
        }
        label {
            width: 25%;
        }
    }
    .wssv-analysis-sec {
        border: 1px solid #e4e4e4;
        border-top: none;
        padding: 20px;
        .wssv-signal-title {
            font-weight: bold;
            margin-bottom: 5px;
        }
        label {
            font-weight: 100;
        }
        .assigned-group {
            display: block;
        }
    }
    .btns-group {
        padding: 20px 0;
    }
}
