.dsui-navigation-text {
    font-size: 1.125em;
    font-family: "Roboto-Medium";
    color: #777;
    line-height: 3.3em;
    padding-left: 20px;
}

.dsui-case-list-library-secondary-navigation {
    height: 58px;
    background-color: #EFEFEF;
}

.dsui-assigned-action {
  background-color: #00a3de;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}

.dsui-signal {
    min-height: 220px !important;
}

.chart {
    background-color: #eee;
    height: 300px;
    width: 100%;
}

.wssv-mian-content {
    padding: 0 330px;
    .wssv-valid-list {
        text-align: right;
        width: 90%;
        float: right;
        padding: 0;
        line-height: 50px;
        margin-bottom: 20px;
        div {
            border-bottom: 4px solid #ccc;
            margin: 0px 7px 0 0;
            text-align: left;
            padding: 0;
        }
        div:first-child {
            border-bottom: 4px solid #016698;
        }
    }
    .wssv-hr-line {
        border-top: 1px solid #e7e7e7;
    }
    .wssv-bar {
        padding: 20px 0;
        div {
            float: left;
        }
        .wssv-bar-first {
            padding: 10px;
            background-color: #f4d03e;
            width: 10%;
            border-radius: 10px 0px 0px 10px;
            margin-right: 1px;
        }
        .wssv-bar-sec {
            padding: 10px;
            background-color: #f2a940;
            width: 30%;
        }
        .wssv-bar-third {
            padding: 10px;
            background-color: #f15a29;
            width: 44%;
        }
        .wssv-bar-fourth {
            padding: 10px;
            background-color: #d1d3d4;
            width: 15%;
            border-radius: 0px 10px 10px 0px;
        }
    }
    .wssv-row-box {
        border: 1px solid #e4e4e4;
        padding: 20px;
        margin-top: 15px;
        .wssv-signal-title {
            font-weight: bold;
            margin-bottom: 5px;
        }
        label {
            width: 25%;
        }
    }
    .wssv-analysis-sec {
        border: 1px solid #e4e4e4;
        border-top: none;
        padding: 20px;
        .wssv-signal-title {
            font-weight: bold;
            margin-bottom: 5px;
        }
        label {
            font-weight: 100;
        }
        .assigned-group {
            display: block;
        }
        .glyphicon-calendar {
            padding: 6px 12px;
            font-size: 14px;
            font-weight: normal;
            line-height: 1;
            color: #555;
            text-align: center;
            background-color: #eee;
            border: 1px solid #ccc;
            border-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: 1%;
            white-space: nowrap;
            vertical-align: middle;
            display: table-cell;
        }
        .input-group .form-control {
            z-index: 0;
        }
    }
    .btns-group {
        padding: 20px 0;
    }
}

.wssv-slider {
    padding: 0 30px;
    background-color: #f5f5f5;
    margin-left: 0px;
    .slick-slider {
        margin-bottom: 0px;
        padding: 20px 0;
        text-align: center;
        h3 {
            background: #fff;
            color: #3498db;
            font-size: 36px;
            line-height: 100px;
            margin: 10px;
            padding: 2%;
            position: relative;
            text-align: center;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        }
        .slick-prev:before,
        .slick-next:before {
            color: #99999a;
        }
    }
}
