<div class="col-xs-12 clearfix dsui-query-library-builder-secondary-navigation dsui-no-padding">
  <div class="col-xs-8 dsui-navigation-text">
    <span data-ng-click="fnNavigate(CONSTANTS.HOME)" data-i18n="common.BUNDLE_DASHBOARD_NAVIGATION"
          class="dsui-pointer-cursor"></span>
    &nbsp;
    <span>
        <span class="icon-angle-right dsui-query-navigation-angle-right-icon"></span>&nbsp;&nbsp;
        <span data-i18n="private-query-library.BUNDLE_KEY_QUERY_LIBRARY"
              data-ng-click="fnNavigate(CONSTANTS.STATE.QUERY_LIBRARY)" class="dsui-pointer-cursor"
        ></span></span>
    &nbsp;
    <span>
        <span class="icon-angle-right dsui-query-navigation-angle-right-icon"></span>&nbsp;&nbsp;
        <span data-i18n="private-query-library.BUNDLE_KEY_QUERY_BUILDER"></span></span>
  </div>
</div>
