<div class="modal fade" role="dialog" id="dsui-confirm-set-delete" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog dsui-confirm-set-delete">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row col-md-12 dsui-delete-query-message">
          <div class="col-md-1 icon-warning dsui-query-delete-exclamation"></div>
          <div class="col-md-8 dsui-query-delete-text">
            <span data-i18n="private-query-builder.BUNDLE_QUERY"></span>&nbsp;
            <span data-ng-bind="selectedTab.name"></span>&nbsp;
            <span data-i18n="private-query-builder.BUNDLE_DELETE_CONFIRMATION"></span>
          </div>
        </div>
        <div class="pull-right dsui-delete-query-buttons">
          <button type="button" class="btn btn-primary" data-ng-click="fnDeleteQuerySet(selectedTab.setId)">
            <span data-i18n="private-query-builder.BUNDLE_OK"></span>
          </button>
          <button type="button" class="btn btn-default" data-i18n="private-reports-library.BUNDLE_NEW_CASE_LIST_CANCEL"
                  data-ng-click="fnConfirmDeleteQuerySetCancel()"></button>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
