.dsui {
  .dsui-header {
  }
  .dsui-content {
    z-index: 9999999;
  .dsui-query-builder-save-query {
    .modal-main {
      margin-left: 17% !important;
      margin-right: 17% !important;

      .modal-dialog {

        width: 100% !important;
        margin: 0px;
        .dsui-full-height {

        }
        .modal-content {

          margin-top: 15%;

          .dsui-border-line {
            border-top: 1px solid $saint-cool-gray-color;
            margin: 0px;
          }

          .modal-header {
            border-bottom: 0px;
            padding: 25px 0px 25px 30px;

            .close {
              font-size: 1em;
              color: $saint-black-color;
              opacity: 1;
              margin-top: -15px;
              margin-right: 10px;
            }
            .modal-title {
              font-family: $font-roboto;
              font-size: 20px;

              color: $saint-unfavourite-color  ;
            }
          }
          .modal-body {
            padding: 30px 26px 25px 26px;
            .dsui-query-name{
              font-family: $font-roboto-light;
              font-size: 15px;
              color: $saint-unfavourite-color;
            }
            .dsui-query-name-input{
            }

            .dsui-query-description{
              margin-top: 22px;
              font-family: $font-roboto-light;
              font-size: 15px;
              color: $saint-unfavourite-color;
            }
            .dsui-query-description-input{
              resize: none;
              height: 100px;
            }

          }

          .modal-footer {

            margin-top:0px;
            padding: 22px 30px 22px;

            .dsui-create-query{

            }
            .dsui-cancel-query{

            }
          }
        }
      }
    }
  }
}
.dsui-footer {

}
}

/* Large desktop */
@media (min-width: 1200px) {
  .dsui{
    .dsui-header{
    }
    .dsui-content{
    }
    .dsui-footer{
    }
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
  .dsui{
    .dsui-header{
    }
    .dsui-content{
    }
    .dsui-footer{
    }
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .dsui{
    .dsui-header{
    }
    .dsui-content{
    }
    .dsui-footer{
    }
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .dsui{
    .dsui-header{
    }
    .dsui-content{
    }
    .dsui-footer{
    }
  }
}
