<div class="col-xs-12 clearfix dsui-case-list-library-secondary-navigation dsui-no-padding">
  <div class="col-xs-8 dsui-navigation-text">
    <span data-ng-click="fnNavigate(CONSTANTS.HOME)" data-i18n="common.BUNDLE_DASHBOARD_NAVIGATION"
          class="dsui-pointer-cursor"></span>
    <span><span class="icon-angle-right dsui-case-list-navigation-angle-right-icon"></span>&nbsp;<span
      data-i18n="private-case-list-library.BUNDLE_KEY_CASE_LIST_LIBRARY"></span></span>
  </div>
  <div class="col-xs-4 dsui-no-padding dsui-create-new-case-list-button">
    <button data-ng-click="decorator.click(PRIVILEGES.CASE_LIST_ANALYSE,fnCreateCaseList,[]);" data-ng-disabled="decorator.disabled(PRIVILEGES.CASE_LIST_ANALYSE)" type="submit" class="btn dsui-create-button">
      <span><i class="icon-Caselist-22"></i> <span
        data-i18n="private-case-list-library.BUNDLE_KEY_CREATE_CASE_LIST"></span></span>
    </button>
  </div>
</div>
