@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_icomps\.scss}line{font-family:\000031}}
.icomps .icomps-loader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #000;
  color: #000;
  opacity: 0.5;
  transition: opacity 1s ease, z-index 1s ease;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_icomps\.scss}line{font-family:\0000319}}
.icomps .icomps-loader.icomps-loaded {
  opacity: 0;
  z-index: -1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_icomps\.scss}line{font-family:\0000323}}
.icomps .icomps-loader .icomps-loader-icon {
  top: 50%;
  left: 50%;
  position: fixed;
  font-size: 84px;
  margin-left: -42px;
  margin-top: -42px;
  border-radius: 50%;
  background-color: #fff;
  padding: 0.1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_icomps\.scss}line{font-family:\0000334}}
.icomps .icomps-alerts {
  /*padding-top: 2.5em;*/
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1051;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_icomps\.scss}line{font-family:\0000342}}
.icomps .icomps-alerts .alert {
  width: 450px;
  margin: 0 auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/*.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}*/
/*.y.axis path,.y.axis text{
  display:none;
}*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\0000323}}
.x.axis path {
  fill: none;
  stroke-width: 1px;
  stroke: #000000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\0000328}}
.y.axis path {
  fill: none;
  stroke-width: 1px;
  stroke: #000000;
}

/*.bar:hover {
  fill: rgb(221,143,27) ;
}*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\0000336}}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  color: #fff;
  background: #000000;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\0000344}}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 1;
  color: #000000;
  font-size: 10px;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\0000355}}
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\0000360}}
.axis .minor line {
  stroke: #777;
  stroke-dasharray: 1,1;
}

@-ms-viewport {
  width: device-width;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\0000367}}
input[type=text]::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\0000372}}
.btn.btn-primary, .btn.btn-secondary {
  pointer-events: auto !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\0000376}}
.dsui .dsui-datepicker-on-top {
  z-index: 10000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\0000379}}
.dsui .dsui-datepicker-on-top:not(.focus) {
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\0000382}}
.dsui .dsui-datepicker-input-padding {
  padding-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\0000385}}
.dsui .dsui-datepicker-input-text-padding {
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\0000388}}
.dsui .dsui-blue-color {
  color: #007CAB;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\0000391}}
.dsui .dsui-gray-color {
  color: #ddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\0000394}}
.dsui .dsui-red-color {
  color: #e53a35;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\0000397}}
.dsui .dsui-white-background {
  background-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003100}}
.dsui .dsui-pointer-cursor {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003103}}
.dsui .dsui-pointer-default {
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003106}}
.dsui .dsui-text-underline {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003109}}
.dsui .dsui-text-underline:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003112}}
.dsui .dsui-no-padding {
  padding: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003115}}
.dsui .dsui-no-right-padding {
  padding-right: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003118}}
.dsui .dsui-no-left-padding {
  padding-left: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003121}}
.dsui .dsu-verical-align-middle {
  vertical-align: middle !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003124}}
.dsui .dsui-verical-align-top {
  vertical-align: top !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003127}}
.dsui .dsui-no-resize {
  resize: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003130}}
.dsui .dsui-collapse-horizontal {
  width: 0px;
  transition: all 1s ease-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003134}}
.dsui .icomps-wloader {
  margin-top: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003137}}
.dsui .dsui-svg-hover {
  stroke-width: 6px;
  stroke-opacity: 0.5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003141}}
.dsui .dsui-chart-legend {
  font-family: "Roboto";
  color: #666666;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003148}}
.dsui .dsui-display-in-line {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003151}}
.dsui .dsui-animate-zoom {
  animation-name: animate-zoom;
  animation-duration: 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003155}}
.dsui .dsui-select2-single {
  border: 0px;
  padding: 0px;
  box-shadow: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003159}}
.dsui .dsui-select2-single a.select2-choice {
  height: 34px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003163}}
.dsui .dsui-select2-multi-select {
  border-radius: 5px;
                   /*
max-height:100px;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003166}}
.dsui .dsui-select2-multi-select .select2-choices {
  border-radius: 5px;
  border: 1px solid #ccc;
  /*max-height:100px;
  overflow-y: auto;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003171}}
.dsui .dsui-select2-multi-select .select2-choices .select2-search-choice {
  width: 98%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003173}}
.dsui .dsui-select2-multi-select .select2-choices .select2-search-choice div[title] {
  word-wrap: break-word !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003179}}
.dsui .dsui-select2-multi-select .select2-search-field input {
  padding: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003184}}
.dsui .dsui-sticky-header {
  position: fixed !important;
  top: 0 !important;
  z-index: 4;
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003190}}
.dsui .dsui-warning-text {
  color: #CD3705;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003193}}
.dsui .dsui-active-item {
  color: #fff !important;
  background-color: #007CAB !important;
  border-color: #007CAB !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003198}}
.dsui .tooltip .tooltip-inner {
  word-wrap: break-word !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003202}}
.dsui .dsui-word-wrap {
  word-wrap: break-word !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003205}}
.dsui .dsui-font-bold {
  font-weight: bold !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003208}}
.dsui .dsui-breadcrumb {
  background-color: #f4f4f4;
  line-height: 4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003211}}
.dsui .dsui-breadcrumb .dsui-bread-crumbs {
  padding-right: 20px;
  font-size: 1.125em;
  font-family: "Roboto-Medium";
  color: #777;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003216}}
.dsui .dsui-config-data-views {
  float: right;
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003220}}
.dsui .dsui-data-view {
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003225}}
.dsui .dsui-button-1 {
  border: none;
  color: #000000;
  background: #e5e5e5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003229}}
.dsui .dsui-button-2 {
  border-color: #999;
  color: #000000;
  background: #e5e5e5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/_common\.scss}line{font-family:\00003233}}
.dsui .dsui-button-2:hover {
  border-color: #999;
}

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
@-ms-viewport {
  width: device-width;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/_layout\.scss}line{font-family:\000031}}
body, html {
  height: 100%;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/_layout\.scss}line{font-family:\000037}}
body {
  overflow-y: scroll;
  font-family: "Roboto-Regular";
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/_layout\.scss}line{font-family:\0000311}}
.dsui {
  min-height: 100%;
  position: relative;
  font-size: 16px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/_layout\.scss}line{font-family:\0000318}}
.dsui .dsui-header {
  position: fixed;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/_layout\.scss}line{font-family:\0000321}}
.dsui .dsui-content {
  margin-top: 60px;
  padding-bottom: 2.5em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/_layout\.scss}line{font-family:\0000325}}
.dsui .dsui-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Large desktop */
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/_layout\.scss}line{font-family:\0000334}}
  .dsui {
    font-size: 16px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/_layout\.scss}line{font-family:\0000346}}
  .dsui {
    font-size: 16px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/_layout\.scss}line{font-family:\0000358}}
  .dsui {
    font-size: 16px;
    position: static;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/_layout\.scss}line{font-family:\0000363}}
  .dsui .dsui-content {
    padding-bottom: inherit;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/_layout\.scss}line{font-family:\0000366}}
  .dsui .dsui-footer {
    position: static;
    bottom: auto;
    width: auto;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/_layout\.scss}line{font-family:\0000375}}
  .dsui {
    font-size: 10px;
    position: static;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/_layout\.scss}line{font-family:\0000380}}
  .dsui .dsui-content {
    padding-bottom: inherit;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/_layout\.scss}line{font-family:\0000383}}
  .dsui .dsui-footer {
    position: static;
    bottom: auto;
    width: auto;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/header\/_header\.scss}line{font-family:\000032}}
.dsui .dsui-header {
  background-color: #007CAB !important;
  height: 60px;
  padding: 0 20px;
  z-index: 2;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/header\/_header\.scss}line{font-family:\000038}}
.dsui .dsui-header .dsui-app-name {
  color: #fff !important;
  font-size: 20px;
  line-height: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/header\/_header\.scss}line{font-family:\0000312}}
.dsui .dsui-header .dsui-app-name .dsui-app-firstname {
  font-family: "Open Sans" !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/header\/_header\.scss}line{font-family:\0000315}}
.dsui .dsui-header .dsui-app-name .dsui-app-lastname {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/header\/_header\.scss}line{font-family:\0000319}}
.dsui .dsui-header .dsui-sign-in {
  line-height: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/header\/_header\.scss}line{font-family:\0000321}}
.dsui .dsui-header .dsui-sign-in .dsui-btn-signin {
  background-color: #007CAB !important;
  border-color: #fff !important;
}

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\000031}}
.dsui {
  background: #fff !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\000037}}
.dsui .dsui-content .dsui-home {
  background-color: #fff !important;
  padding-bottom: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000312}}
.dsui .dsui-content .dsui-home .dsui-image-section .dsui-home-carousel .left.carousel-control, .dsui .dsui-content .dsui-home .dsui-image-section .dsui-home-carousel .right.carousel-control {
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000315}}
.dsui .dsui-content .dsui-home .dsui-image-section .dsui-home-carousel .icon-prev, .dsui .dsui-content .dsui-home .dsui-image-section .dsui-home-carousel .icon-next {
  font-size: 75px;
  top: 40%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000319}}
.dsui .dsui-content .dsui-home .dsui-image-section .dsui-home-carousel .icon-prev {
  margin-left: -40% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000322}}
.dsui .dsui-content .dsui-home .dsui-image-section .dsui-home-carousel .icon-next {
  margin-right: -40% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000326}}
.dsui .dsui-content .dsui-home .dsui-image-section .dsui-lions-banner {
  padding-left: 50px;
  color: #fff;
  background-size: 100% 100%;
  margin-right: 0px !important;
  margin-left: 0px !important;
  font-weight: 100 !important;
  word-spacing: 2px;
  line-height: 1.35em;
  font-family: "RobotoSlab-Regular";
  position: absolute;
  top: 60px;
  left: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000339}}
.dsui .dsui-content .dsui-home .dsui-image-section .dsui-lions-banner .dsui-logo-text {
  margin-top: 3.75em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000341}}
.dsui .dsui-content .dsui-home .dsui-image-section .dsui-lions-banner .dsui-logo-text .dsui-lions-heading {
  margin-bottom: 50px;
  font-size: 1.725em;
  float: left;
  font-family: "RobotoSlab-Regular";
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000346}}
.dsui .dsui-content .dsui-home .dsui-image-section .dsui-lions-banner .dsui-logo-text .dsui-lions-heading .dsui-lions-heading-firstname {
  font-family: "Open Sans";
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000349}}
.dsui .dsui-content .dsui-home .dsui-image-section .dsui-lions-banner .dsui-logo-text .dsui-lions-heading .dsui-lions-heading-lastname {
  font-family: "Roboto-Light";
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000353}}
.dsui .dsui-content .dsui-home .dsui-image-section .dsui-lions-banner .dsui-logo-text .dsui-lions-banner-content {
  font-family: "Roboto-Regular";
  font-size: 1.750em;
  line-height: 30px;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000359}}
.dsui .dsui-content .dsui-home .dsui-image-section .dsui-lions-banner .dsui-logo-text p {
  font-size: 1em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000362}}
.dsui .dsui-content .dsui-home .dsui-image-section .dsui-lions-banner .dsui-logo-text .dsui-lions-last-line {
  font-family: "Roboto-Regular";
  font-size: 1.313em;
  color: #1ea64a;
  padding: 56px 0 56px 0;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000373}}
.dsui .dsui-content .dsui-home .dsui-offers {
  padding: 0 20px;
  margin-top: 0.5em;
  font-size: 1.125em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000377}}
.dsui .dsui-content .dsui-home .dsui-offers .dsui-offers-text {
  padding-right: 15px !important;
  font-size: 1em;
  color: #444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000382}}
.dsui .dsui-content .dsui-home .dsui-offers .dsui-link-last-line {
  color: #007CAB;
  padding-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000386}}
.dsui .dsui-content .dsui-home .dsui-offers .dsui-offers-heading {
  padding: 20px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\0000388}}
.dsui .dsui-content .dsui-home .dsui-offers .dsui-offers-heading h4 {
  font-family: "Roboto-Light";
  font-size: 2.250em;
  color: #444;
}

/* Large desktop */
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\00003123}}
  .dsui .dsui-content .dsui-home .dsui-image-section .dsui-lions-banner .dsui-logo-text {
    margin-top: 6.75em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\00003126}}
  .dsui .dsui-content .dsui-home .dsui-image-section .dsui-lions-banner .dsui-logo-text .dsui-lions-heading .dsui-lions-heading-firstname {
    font-family: "Open Sans";
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\00003129}}
  .dsui .dsui-content .dsui-home .dsui-image-section .dsui-lions-banner .dsui-logo-text .dsui-lions-heading .dsui-lions-heading-lastname {
    font-family: "Roboto-Light";
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\00003171}}
  .dsui .dsui-content .dsui-home .dsui-image-section .dsui-lions-banner .dsui-logo-text {
    margin-top: 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\00003173}}
  .dsui .dsui-content .dsui-home .dsui-image-section .dsui-lions-banner .dsui-logo-text .dsui-lions-heading {
    font-size: 1.725em !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\00003176}}
  .dsui .dsui-content .dsui-home .dsui-image-section .dsui-lions-banner .dsui-logo-text .dsui-lions-banner-content {
    font-size: 1.350em;
    line-height: 25px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\00003180}}
  .dsui .dsui-content .dsui-home .dsui-image-section .dsui-lions-banner .dsui-logo-text .dsui-lions-last-line {
    padding: 2% 0 3% 0 !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\00003187}}
  .dsui .dsui-content .dsui-home .dsui-offers .dsui-link-last-line {
    padding-bottom: 20px;
    padding-top: 0px !important;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\00003215}}
  .dsui .dsui-content .dsui-home .dsui-image-section .dsui-lions-banner .dsui-logo-text {
    margin-top: 1.7em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/home\/_home\.scss}line{font-family:\00003221}}
  .dsui .dsui-content .dsui-home .dsui-offers .dsui-link-last-line {
    padding-bottom: 20px;
    padding-top: 0px !important;
  }
}
/* Landscape phones and down */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\000035}}
.dsui .dsui-content .dsui-loginContainer {
  margin: 0 auto;
  width: 20.56em;
  margin-top: 6.88em;
  margin-bottom: 6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\0000310}}
.dsui .dsui-content .dsui-loginContainer .panel {
  border-radius: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\0000313}}
.dsui .dsui-content .dsui-loginContainer label {
  font-weight: normal !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\0000317}}
.dsui .dsui-content .dsui-loginContainer .panel-heading h3 {
  margin: 0px !important;
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\0000322}}
.dsui .dsui-content .dsui-loginContainer .sign-in-label {
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\0000324}}
.dsui .dsui-content .dsui-loginContainer .sign-in-label h3 {
  color: #444;
  font-family: "Roboto-Regular";
  font-size: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\0000330}}
.dsui .dsui-content .dsui-loginContainer .dsui-login-username {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border: none;
  color: #444;
  font-size: 14px;
  outline: none;
  border-bottom: 1px solid #ccc;
  font-family: "Roboto-Regular";
  width: 100%;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\0000342}}
.dsui .dsui-content .dsui-loginContainer .dsui-login-password {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border: none;
  color: #444;
  font-size: 14px;
  outline: none;
  border-bottom: 1px solid #ccc;
  font-family: "Roboto-Regular";
  width: 100%;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\0000354}}
.dsui .dsui-content .dsui-loginContainer .dsui-remember-me-section {
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\0000357}}
.dsui .dsui-content .dsui-loginContainer .dsui-remember-me {
  font-size: 12px;
  padding-left: 0;
  color: #444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\0000363}}
.dsui .dsui-content .dsui-loginContainer .dsui-toggle-switch .cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\0000368}}
.dsui .dsui-content .dsui-loginContainer .dsui-toggle-switch .cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\0000376}}
.dsui .dsui-content .dsui-loginContainer .dsui-forgot-password-text {
  text-align: right;
  color: #007CAB;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\0000380}}
.dsui .dsui-content .dsui-loginContainer .dsui-sign-in {
  margin-top: 15px;
  color: #fff;
  width: 100%;
  background-color: #007CAB !important;
  border-color: #007CAB !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\0000388}}
.dsui .dsui-content .dsui-loginContainer .dsui-sign-in-seperation-line hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\0000394}}
.dsui .dsui-content .dsui-loginContainer .dsui-create-account {
  color: #444;
  background-color: #ddd !important;
  border-color: #ddd !important;
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\00003100}}
.dsui .dsui-content .dsui-loginContainer .dsui-forgot-password {
  font-size: 12px;
  /*font-family:Roboto Regular;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_login\.scss}line{font-family:\00003103}}
.dsui .dsui-content .dsui-loginContainer .dsui-forgot-password a {
  color: #007CAB;
}

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_toggle-switch\.scss}line{font-family:\000031}}
.dsui {
  background: #e0e1e2 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_toggle-switch\.scss}line{font-family:\000037}}
.dsui .dsui-content .dsui-loginContainer .container > .switch {
  display: block;
  margin: 12px auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_toggle-switch\.scss}line{font-family:\0000312}}
.dsui .dsui-content .dsui-loginContainer .switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 15px;
  padding: 3px;
  background-color: white;
  border-radius: 18px;
  /*box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
  cursor: pointer;
  /*  background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
    background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
    background-image: -o-linear-gradient(top, #eeeeee, white 25px);
    background-image: linear-gradient(to bottom, #eeeeee, white 25px);*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_toggle-switch\.scss}line{font-family:\0000329}}
.dsui .dsui-content .dsui-loginContainer .switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_toggle-switch\.scss}line{font-family:\0000336}}
.dsui .dsui-content .dsui-loginContainer .switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #ccc;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  transition: 0.15s ease-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_toggle-switch\.scss}line{font-family:\0000350}}
.dsui .dsui-content .dsui-loginContainer .switch-label:before, .dsui .dsui-content .dsui-loginContainer .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  transition: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_toggle-switch\.scss}line{font-family:\0000360}}
.dsui .dsui-content .dsui-loginContainer .switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_toggle-switch\.scss}line{font-family:\0000366}}
.dsui .dsui-content .dsui-loginContainer .switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_toggle-switch\.scss}line{font-family:\0000373}}
.dsui .dsui-content .dsui-loginContainer .switch-input:checked ~ .switch-label {
  background: #007CAB !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_toggle-switch\.scss}line{font-family:\0000377}}
.dsui .dsui-content .dsui-loginContainer .switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_toggle-switch\.scss}line{font-family:\0000380}}
.dsui .dsui-content .dsui-loginContainer .switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_toggle-switch\.scss}line{font-family:\0000384}}
.dsui .dsui-content .dsui-loginContainer .switch-handle {
  position: absolute;
  top: -2px;
  left: 3px;
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  transition: left 0.15s ease-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_toggle-switch\.scss}line{font-family:\00003102}}
.dsui .dsui-content .dsui-loginContainer .switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: linear-gradient(to bottom, #eeeeee, white);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_toggle-switch\.scss}line{font-family:\00003118}}
.dsui .dsui-content .dsui-loginContainer .switch-input:checked ~ .switch-handle {
  left: 26px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/login\/_toggle-switch\.scss}line{font-family:\00003123}}
.dsui .dsui-content .dsui-loginContainer .switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/footer\/_footer\.scss}line{font-family:\000036}}
.dsui .dsui-footer {
  background-color: #EEEEEE;
  color: #736666;
  padding: 1em 20px;
  font-size: 0.75em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/footer\/_footer\.scss}line{font-family:\0000311}}
.dsui .dsui-footer .dsui-footer-text {
  list-style: none;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/footer\/_footer\.scss}line{font-family:\0000314}}
.dsui .dsui-footer .dsui-footer-text li {
  display: inline;
  margin: 0 3.125em 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/footer\/_footer\.scss}line{font-family:\0000320}}
.dsui .dsui-footer .dsui-footer-icon {
  padding-right: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/deloitte\/signal\/ui\/ui\/app\/styles\/public\/footer\/_footer\.scss}line{font-family:\0000323}}
.dsui .dsui-footer .dsui-desktop-padding {
  padding-right: 0;
}

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
