.dsui {
  .dsui-header {
  }
  .dsui-content {
    .dsui-query-builder-tag-filter {

      .dsui-static-text {
        width: 100px;
        float: left;

        .dsui-filterInfo {
          font-family: $font-roboto-bold;
          color: $saint-unfavourite-color;
          font-size: 14px;
          padding-top: 27px;
        }
      }
      /*height: 100%;*/
      //check
      height: auto;

      .dsui-breadcrumbs {
        width: 100%;
        /*
        width: -webkit-calc(100% - 100px);
        width: -moz-calc(100% - 100px);
        width: calc(100% - 100px);*/
        padding-top: 27px;
        padding-bottom: 27px;
        .dsui-breadcrumbs-align {
          display: flex;
          .dsui-breadcrumbs-maxwidth {
            max-width: 960px;
          }
          .dsui-breadcrumbs-text {
            /*padding-left: 20px;*/
            white-space: nowrap;
          }
        }
      }

      .dsui-clear-filter {
        font-family: $font-roboto-regular;
        color: $saint-blue-color;
        font-size: 14px;
        cursor: pointer;
        width: 100px;
        margin-top: 4px;
        //float: right;
      }

      .dsui-myTags {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
        /*padding: 5px;*/

        font-family: $font-roboto;
        font-size: 14px;
        color: $saint-unfavourite-color;
        /*background-color: $saint-panel-cool-gray-color;*/
        border-radius: 15px;

        .dsui-cancelButton {
          color: $saint-panel-cool-gray-color;
          padding: 2px;
          background-color: $saint-caption-color;
          border-radius: 9px;
          font-size: 11px;
          cursor: pointer;
          margin-left: 10px;
        }
      }
      .dsui-breadcrumb-divider {
        border: solid 1px $saint-favourite-border-color;
        width: 100%;
        width: -webkit-calc(100% + 25px);
        width: -moz-calc(100% + 25px);
        width: calc(100% + 25px);
        margin-left: -13px; //Wrapped under div, hence force left required
        margin-bottom: 0px;
        //margin-top:10px;
      }

    }

    .dsui-no-left-margin {
      margin-left: 0px !important;
    }

  }
  .dsui-footer {
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  .dsui {
    .dsui-header {
    }
    .dsui-content {
    }
    .dsui-footer {
    }
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
  .dsui {
    .dsui-header {
    }
    .dsui-content {
    }
    .dsui-footer {
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .dsui {
    .dsui-header {
    }
    .dsui-content {
    }
    .dsui-footer {
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .dsui {
    .dsui-header {
    }
    .dsui-content {
    }
    .dsui-footer {
    }
  }
}
