<div data-ng-include="'views/private/signaling/navigation/dashboard.html'"></div>

<div class="col-md-12 dsui-home-dashboard container-fluid">

    <form class="form-inline mt10 mb10">
        <div class="form-group">
            <label>Ingredient: </label>
            <select class="form-control">
                <option>Anastrozole</option>
            </select>
        </div>
        <div class="form-group ml10">
            <label>Goto: </label>
            <select class="form-control" ng-options="item.id as item.value for item in goto" ng-model="selectedGoto" data-ng-change="gotoPage()">
            </select>
        </div>
    </form>
    <!--Begin Workspace Section-->
    <div class="dsui-home-workspace">
        <div class="row">
            <div class="col-sm-3">
                <div class="dsui-workspace dsui-signal col-sm-12 dsui-no-padding" data-ng-click="fnNavigateWorkspace(0,home.statusCount.reportsInProgress)">
                    <div class="col-md-12 dsui-no-padding dsui-workspace-colored dsui-pending">
                        <div class="col-md-1 col-sm-2 dsui-no-padding">
                            <span class="icon-IcoMoon-02 dsui-icon-3x"></span>
                        </div>
                        <div class="col-md-8 col-sm-10 dsui-workspace-text">
                            <span>Signals in Validation</span>
                        </div>
                    </div>
                    <div class="col-md-12 dsui-no-padding dsui-circle dsui-pending">
                        <span data-ng-bind-html="fnFormatCount(statusCount.validation)"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="dsui-workspace dsui-signal col-sm-12 dsui-no-padding" data-ng-click="fnNavigateWorkspace(1,home.statusCount.reportsDue)">
                    <div class="col-md-12 dsui-no-padding dsui-workspace-colored dsui-due-days">
                        <div class="col-md-1 col-sm-2 dsui-no-padding">
                            <span class="icon-IcoMoon-03 dsui-icon-3x"></span>
                        </div>
                        <div class="col-md-11 col-sm-10 dsui-workspace-text">
                            <span>Signals in Analytics & Assessment</span>
                        </div>
                    </div>
                    <div class="col-md-12 dsui-no-padding dsui-circle dsui-due-days">
                        <span data-ng-bind-html="fnFormatCount(statusCount.assessment)"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="dsui-workspace dsui-signal col-sm-12 dsui-no-padding" data-ng-click="fnNavigateWorkspace(2,home.statusCount.reportsCompleted)">
                    <div class="col-md-12 dsui-no-padding dsui-workspace-colored dsui-completed-reports">
                        <div class="col-md-1 col-sm-2 dsui-no-padding">
                            <span class="icon-IcoMoon-04 dsui-icon-3x"></span>
                        </div>
                        <div class="col-md-8 col-sm-10 dsui-workspace-text">
                            <span>Signals in Action Plan</span>
                        </div>
                    </div>
                    <div class="col-md-12 dsui-no-padding dsui-circle dsui-completed-reports">
                        <span data-ng-bind-html="fnFormatCount(statusCount.action)"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="dsui-workspace dsui-signal col-sm-12 dsui-no-padding" data-ng-click="fnNavigateWorkspace(2,home.statusCount.reportsCompleted)">
                    <div class="col-md-12 dsui-no-padding dsui-workspace-colored dsui-assigned-action">
                        <div class="col-md-1 col-sm-2 dsui-no-padding">
                            <span class="icon-IcoMoon-04 dsui-icon-3x"></span>
                        </div>
                        <div class="col-md-8 col-sm-10 dsui-workspace-text">
                            <span>Assigned Action </span>
                        </div>
                    </div>
                    <div class="col-md-12 dsui-no-padding dsui-circle dsui-assigned-action">
                        <span data-ng-bind-html="fnFormatCount(statusCount.assigned)"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--End Workspace Section-->
    <div class="row">
        <div class="col-sm-6">
            <div class="chart">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="chart">
            </div>
        </div>
    </div>
</div>
