.dsui {
  .dsui-header {
  }
  .dsui-content {
    .dsui-filter-scroll {
      height: 820px;
      overflow-y: auto;
    }
    .dsui-sort-header {
      border-bottom: 2px solid $saint-blue-color;
      color: $saint-blue-color !important;
      font-size: 18px;
    }

    .dsui-sort-header-text {
      font-family: $font-roboto-bold;
      font-size: 14px;
    }
    .dsui-filter-sort-case-list-library{
      width: 130px;
    }
    .dsui-filter-sort-case-list-library:first-child {
      border-right: $saint-panel-cool-gray-color 1px solid;

    }
    .dsui-filter-sort-case-list-library > a {
      color: $saint-unfavourite-color;
      cursor: pointer;
    }

    .glyphicon-filter:before {
      content: "\e138";
      vertical-align: -0.1875em;
    }
    .glyphicon-sort-by-attributes-alt:before {
      content: "\e156";
      vertical-align: -0.1875em;
    }
    .dsui-collapse-list-case-list {
      border-bottom: 1px $saint-cool-gray-color solid;
      .dsui-collapse-icon {
        font-size: 20px;
        color: $saint-unfavourite-color;
        cursor: pointer;
      }
    }
    .dsui-status-filter {
      .fa, .panel-title {
        cursor: pointer;
      }
      .dsui-overdue {
        color: $saint-report-overdue;
      }
      .dsui-open {
        color: $saint-open-color;
      }
      .dsui-inprogress {
        color: $saint-report-inProgress;
      }
      .dsui-final {
        color: $saint-report-inProgress;
      }
      .dsui-completed {
        color: $saint-green-completed;
      }
      .dsui.checkbox-styling {
        margin-right: 15px;
        margin-bottom: 10px;
      }
      .dsui-checkbox-padding {
        margin-bottom: 15px;
      }
      .dsui-label-name {
        font-size: 14px;
        color: $saint-unfavourite-color;
      }
      .panel-header {
        font: {
          style: $font-roboto-medium;
          size: 14px;
        }
        color: $saint-blue-color;
      }
      .dsui-panel-title-icons {
        font-size: 11px;
      }
    }
  }
  .dsui-footer {
  }
}

.dsui-date-input-group{
  .dsui-datepicker-on-top {
    z-index: 1;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  .dsui {
    .dsui-header {
    }
    .dsui-content {
    }
    .dsui-footer {
    }
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
  .dsui {
    .dsui-header {
    }
    .dsui-content {
    }
    .dsui-footer {
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .dsui {
    .dsui-header {
    }
    .dsui-content {
    }
    .dsui-footer {
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .dsui {
    .dsui-header {
    }
    .dsui-content {
    }
    .dsui-footer {
    }
  }
}
