<div class="modal fade dsui-share-caselist" id="{{dialogId}}" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false"
     data-ng-controller="ShareCaseListController">
  <div class="col-md-8 modal-main">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="icon-close close" data-ng-click="fnOnCancel()"></span>
          <h4 class="modal-title" data-i18n="private-case-list-library.BUNDLE_SHARE_CASE_LIST"></h4>
        </div>

        <hr class="dsui-border-line">
        <div class="modal-body">
          <form role="form">

            <div id={{userSelectId}} data-ng-if="loadUserGroupSelect">
              <user-group-select-dropdown
                user-select-id='userSelectId'
                is-select-all-shown='false'
                get-selected-user-group='caseList.getSelectedUsersGroup'
                set-selected-user-group='caseList.selectedUsersGroup'
                assignee-display-text='language.ASSIGNEES'
              ></user-group-select-dropdown>
            </div>

          </form>
        </div>

        <!--</div>-->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary dsui-create-query" data-i18n="private-case-list-library.BUNDLE_SAVE"
                  data-ng-click="fnSaveShareCaseList()"></button>
          <button type="button" class="btn btn-default dsui-cancel-query"
                  data-i18n="private-case-list-library.BUNDLE_NEW_CASE_LIST_CANCEL"
                  data-ng-click="fnOnCancel()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
