<div class="dsui-home">
  <div class="dsui-image-section clearfix">
    <div class="dsui-home-carousel">
      <div carousel interval="home.slideInterval">
        <div slide active="slide.active" data-ng-repeat="slide in home.slides">
          <img class="col-sm-12 img-responsive dsui-no-padding clearfix" data-ng-src="{{slide.image}}" alt="public-home.BUNDLE_HOME_IMAGE_ALT" data-i18n-attr="{alt:'public-home.BUNDLE_HOME_IMAGE_ALT'}">

          <div class="dsui-lions-banner row">
            <div class="col-lg-6 col-md-10 col-sm-11 dsui-logo-text">
              <div class="dsui-lions-heading">
                <span data-i18n="common.BUNDLE_HEADER_TITLE_FIRSTNAME" class="dsui-lions-heading-firstname"></span>
                <span data-i18n="common.BUNDLE_HEADER_TITLE_LASTNAME" class="dsui-lions-heading-lastname"></span>
              </div>
              <div class="dsui-lions-banner-content clearfix col-md-12 col-sm-12  col-lg-12 dsui-no-padding" data-i18n="{{slide.text}}"></div>
              <div class="dsui-lions-last-line col-sm-12 "  data-i18n="{{slide.tag}}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dsui-offers clearfix">
    <div class="col-md-12 dsui-offers-heading">
      <h4 data-i18n="public-home.BUNDLE_HOME_TEXT_KEY"></h4>
    </div>
    <div class="col-md-12 dsui-no-padding hidden-md hidden-lg">
      <div class="col-md-4 dsui-no-padding">
        <p data-i18n="public-home.BUNDLE_HOME_OFFER1_TEXT_KEY" class="dsui-offers-text"></p>
        <p class="dsui-link-last-line"><a href="javascript:void(0);" data-i18n="public-home.BUNDLE_HOME_LINK1_TEXT_KEY"></a></p>
      </div>
      <div class="col-md-4 dsui-no-padding">
        <p data-i18n="public-home.BUNDLE_HOME_OFFER2_TEXT_KEY" class="dsui-offers-text"></p>
        <p class="dsui-link-last-line"><a href="javascript:void(0);" data-i18n="public-home.BUNDLE_HOME_LINK2_TEXT_KEY"></a></p>
      </div>
      <div class="col-md-4 dsui-no-padding">
        <p data-i18n="public-home.BUNDLE_HOME_OFFER3_TEXT_KEY" class="dsui-offers-text"></p>
        <p class="dsui-link-last-line"><a href="javascript:void(0);" data-i18n="public-home.BUNDLE_HOME_LINK3_TEXT_KEY"></a></p>
      </div>
    </div>
    <div class="col-md-12 dsui-no-padding hidden-xs hidden-sm">
      <div class="col-md-12 dsui-no-padding">
        <div class="col-md-4 dsui-no-padding">
          <p data-i18n="public-home.BUNDLE_HOME_OFFER1_TEXT_KEY" class="dsui-offers-text"></p>
        </div>
        <div class="col-md-4 dsui-no-padding">
          <p data-i18n="public-home.BUNDLE_HOME_OFFER2_TEXT_KEY" class="dsui-offers-text"></p>
        </div>
        <div class="col-md-4 dsui-no-padding">
          <p data-i18n="public-home.BUNDLE_HOME_OFFER3_TEXT_KEY" class="dsui-offers-text"></p>
        </div>
      </div>
      <div class="col-md-12 dsui-no-padding">
        <div class="col-md-4 dsui-no-padding">
          <p class="dsui-link-last-line"><a href="javascript:void(0);" data-i18n="public-home.BUNDLE_HOME_LINK1_TEXT_KEY"></a></p>
        </div>
        <div class="col-md-4 dsui-no-padding">
          <p class="dsui-link-last-line"><a href="javascript:void(0);" data-i18n="public-home.BUNDLE_HOME_LINK2_TEXT_KEY"></a></p>
        </div>
        <div class="col-md-4 dsui-no-padding">
          <p class="dsui-link-last-line"><a href="javascript:void(0);" data-i18n="public-home.BUNDLE_HOME_LINK3_TEXT_KEY"></a></p>
        </div>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
</div>
