.dsui-navigation-text {
  font-size: 1.125em;
  font-family: "Roboto-Medium";
  color: #777;
  line-height: 3.3em;
  padding-left: 20px;
}
.dsui-case-list-library-secondary-navigation {
  height: 58px;
  background-color: #EFEFEF;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}

.dsui-signal {
  min-height: 220px !important;
}
.chart {
  background-color: #eee;
  height:300px;
  width:100%;
}

.wssv-mian-content {
    padding: 0 330px;
    .wssv-valid-list {
        float: right;
        ul {
            list-style: none;
            li {
                float: left;
                margin: 0 9px;
                border-bottom: 3px solid blue;
            }
        }
    }
    .wssv-valid-list-lat {
        text-align: right;
        width: 90%;
        float: right;
        padding: 0;
        line-height: 40px;
        margin-bottom: 20px;
        div {
            border-bottom: 4px solid #ccc;
            margin: 0px 7px 0 0;
            text-align: left;
            padding: 0;
        }
        div:first-child {
            border-bottom: 4px solid #016698;
        }
    }
    .wssv-bar {
        .wssv-bar-first {}
    }
}
