.dsui {
  .dsui-header {
  }
  .dsui-content {
    .dsui-modal-content {
      width:600px;
      height:200px;
    }
    .dsui-delete-cancel {
      float: right;
      button{
        margin-right: 16px;
        width: 80px;
        height: 32px;
      }
    }
    .dsui-delete-text{
      margin-top: 30px;
      margin-left: 20px;
      font-size: 20px;
      margin-bottom: 25px;
    }
    .dsui-icon-delete{
      font-size: 30px;
      color: $saint-blue-color;
    }
    .dsui-modal-position{
      left: 25%;
      margin-top: 20%;

    }
  }
  .dsui-footer {

  }
}

/* Large desktop */
@media (min-width: 1200px) {
  .dsui{
    .dsui-header{
    }
    .dsui-content{
    }
    .dsui-footer{
    }
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
  .dsui{
    .dsui-header{
    }
    .dsui-content{
    }
    .dsui-footer{
    }
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .dsui{
    .dsui-header{
    }
    .dsui-content{
    }
    .dsui-footer{
    }
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .dsui{
    .dsui-header{
    }
    .dsui-content{
    }
    .dsui-footer{
    }
  }
}
