  <div class="modal-body">
    <div class="dsui-report-output-save">
      <span class="dsui-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
    <span class="dsui-text" data-i18n="private-case-list-library.SAVE_CONFIRMATION_REPORT_OUTPUT"></span>
      </br>
      <div class="dsui-buttons">
        <button class="btn dsui-btn-no" data-ng-click="fnDiscardChanges()"><span data-i18n="common.BUNDLE_NO"></span></button>
    <button class="btn dsui-btn-yes" data-ng-click="fnSavePackage()"><span data-i18n="common.BUNDLE_YES"></span></button>
      </div>
    </div>
  </div>
