<div class="col-xs-12 dsui-no-padding">
  <div class="col-xs-6 dsui-no-padding text-left dsui-app-name"><span data-i18n="common.BUNDLE_HEADER_TITLE_FIRSTNAME" data-ui-sref="home" class="dsui-pointer-cursor dsui-app-firstname"></span><span data-i18n="common.BUNDLE_HEADER_TITLE_LASTNAME" data-ui-sref="home" class="dsui-pointer-cursor dsui-app-lastname"></span></div>
  <div class="col-xs-6 dsui-no-padding text-right dsui-sign-in" data-ng-show="header.signInButtonVisibility"><button type="button" class="btn btn-primary dsui-btn-signin" data-ng-click="fnLoadDashboard()" data-i18n="public-header.BUNDLE_LOGIN_TEXT"></button></div>
</div>
